body{
    margin: 0px;
}
.box{
    border: 5px solid;
    font-size: 3em;
    height: 100px; width: 150px;
}
#box1{
    background-color: red;
    margin: auto;
    /* margin: auto; centers the div */
}
#box2{
    background-color: blue;
}